<div class="country-container">  
    <div class="country-grid-header">
        @if (!newCountryShown) {
            <button
                class="new-country-button"
                (click)="showNewCountryDialog()"
            >
                New Country
            </button>
        }
        @if (newCountryShown) {
            <app-new-country
                (showNewCountryButton)="receiveNewCountryToggle($event)"
                [uniqueRegions]="uniqueRegions"
                (passNewCountry)="receiveNewCountry($event)"
            />
        }
        <app-region-filter-dropdown
            (selectedRegionsEvent)="updateSelectedRegions($event)"
            [uniqueRegions]="uniqueRegions"
        />
    </div>
    <div class="country-grid-container">
        @for(country of countryData; track country.name) {
            @if(selectedRegions.includes(country.region)) {
                <app-country-card [country]="country" />
            } @else {
                @if(selectedRegions.length === 0) {
                    <app-country-card [country]="country" />
                }
            }
        }
    </div>
</div>