.country-container {
    display: flex;
    flex-direction: column;
    background-color: #777;
    align-items: center;
    padding: 1rem;
}

.country-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

app-region-filter-dropdown {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}