<div class="card flex justify-center">
    <p-toast />
</div>
<div class="country-container">  
    <div class="country-grid-header">
        <app-region-filter-dropdown
            (selectedRegionsEvent)="updateSelectedRegions($event)"
            [uniqueRegions]="uniqueRegions"
        />
        <app-name-input-filter
            (passNameInput)="updateSelectedNames($event)"
            [countryData]="countryData"
        />
        <button class="new-country-button" (click)="showNewCountryDialog()">
            Add New Country
        </button>
        @if (newCountryDialogShown) {
            <app-new-country
                (showNewCountryButton)="receiveNewCountryToggle($event)"
                [uniqueRegions]="uniqueRegions"
                (passNewCountry)="receiveNewCountry($event)"
            />
        }
    </div>
    <div class="country-grid-container">
        @for(country of countryData; track country.name.common) {
            @if(selectedRegions.length === 0 && nameInput == "") {
                <app-country-card [country]="country" />
            } @else if (selectedRegions.includes(country.region) && nameInput == "") {
                <app-country-card [country]="country" />
            } @else if (selectedRegions.length === 0 && country.name.common.toLowerCase().includes(nameInput.toLowerCase())) {
                <app-country-card [country]="country" />
            } @else if (selectedRegions.includes(country.region) && country.name.common.toLowerCase().includes(nameInput.toLowerCase())) {
                <app-country-card [country]="country" />
            }
        }
    </div>
</div>
