.country-container {
    display: flex;
    flex-direction: column;
    background-color: #777;
    align-items: center;
    padding: 1rem;
}

.country-grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.new-country-button {
    padding: 0.5rem;
    width: 50%;
    transition: transform 200ms ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.country-filter-container {
    display: flex;
}

.country-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
}