<p-dialog
    header="Add New Country"
    [modal]="true"
    [visible]="visible"
    (visibleChange)="toggleNewCountryButton()"
    [style]="{ width: '25rem' }"
>
    <form [formGroup]="newCountryForm" class="new-country-form">
        <div class="flex items-center gap-4 mb-4">
            <label for="name" class="font-semibold w-24">Name: </label>
            <input
                pInputText id="name"
                class="flex-auto"
                autocomplete="off"
                formControlName="name"
                placeholder="Enter country name"
                [style]="{margin: '0.25rem 2.5rem'}"
            />
            @if (newCountryForm.get('name')?.touched) {
                @if (newCountryForm.get('name')?.hasError('required')) {
                    <p-message severity='error'>Name is required.</p-message>
                } @else if (newCountryForm.get('name')?.hasError('minlength')) {
                    <p-message severity='error'>Name must be at least 3 characters.</p-message>
                } @else if (newCountryForm.get('name')?.hasError('maxlength') && newCountryForm.get('name')?.touched) {
                    <p-message severity='error'>Name must be 50 characters or less.</p-message>
                }
            }
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="flag" class="font-semibold w-24">Flag: </label>
            <input
                pInputText id="flag"
                class="flex-auto"
                autocomplete="off"
                formControlName="flag"
                placeholder="Enter flag image URL"
                [style]="{margin: '0.25rem 3rem'}"
            />
            @if (newCountryForm.get('flag')?.touched) {
                @if (newCountryForm.get('flag')?.hasError('required')) {
                    <p-message severity='error'>Flag is required.</p-message>
                } @else if (newCountryForm.get('flag')?.hasError('invalidUrl')) {
                    <p-message severity='error'>URL is invalid.</p-message>
                }
            }
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="region" class="font-semibold w-24">Region: </label>
            <p-select
                formControlName="region"
                [options]="uniqueRegions"
                placeholder="Select a region"
                appendTo="body"
                [style]="{
                            margin: '0.25rem 2rem',
                            width: '12.2rem'
                        }"
            />
            @if (newCountryForm.get('region')?.touched) {
                @if (newCountryForm.get('region')?.hasError('required')) {
                    <p-message severity='error'>Region is required.</p-message>
                }
            }
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="population" class="font-semibold w-24">Population: </label>
            <p-inputnumber
                inputId="population"
                class="flex-auto"
                autocomplete="off"
                formControlName="population"
                placeholder="Enter population"
                [style]="{margin: '0.25rem 0.5rem'}"
            />
            @if (newCountryForm.get('population')?.touched) {
                @if (newCountryForm.get('population')?.hasError('required')) {
                    <p-message severity='error'>Population is required.</p-message>
                } @else if (newCountryForm.get('population')?.hasError('negative')) {
                    <p-message severity='error'>Population must be a positive number.</p-message>
                }
            }
        </div>
        <div class="flex justify-end gap-2 w-full ">
            <p-button
                label="Cancel"
                severity="secondary"
                (click)="visible = false"
                (click)="toggleNewCountryButton()" 
            />
            <p-button
                label="Save"
                (click)="visible = false"
                (click)="toggleNewCountryButton()"
                (click)="onSubmit()"
                [disabled]="!newCountryForm.valid"
                [style]="{margin: '0 0 0 14rem'}"
            />
        </div>
    </form>
</p-dialog>